*,
*:before,
*:after {

  margin:0;
  padding:0;
   box-sizing:border-box;
   /* border: 1px solid red; */
}

html, body {
  box-sizing: inherit;
  font-size:1;
  line-height: 1.7;
  height: 100%;

}

body::before {
    content: '';
    background-image: url("../images/Landscape.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.2;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-left: 2rem;
    font-size: 3rem;
    padding:2rem 1rem 1rem 1rem;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.main-menu {
    font-size: 1.5rem;
    list-style: none;
    padding: 20px;
    margin: 0;
    width: max-content;
    background-color: transparent;
    border-right: 3px solid #b0b0b0;
}

.main-menu li {
    padding: 10px 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-menu li:focus,
.main-menu li:active {
    background-color: #948f8f;
    outline: none;
}

.main-menu li:hover {
    background-color: #684343;
    outline: none;
}

.sublist {
    font-size: 1.75rem;
    color: rgb(123, 122, 122);
    list-style: none;
    padding: 20px;
    margin: 0;
    display: none; /* Initially hide all sublists */
    width: max-content;

}

.sublist li {
  
    padding: 10px;
}
.sublist a {
    font-size: 1.75rem;
    color: rgb(53, 53, 53);
    text-decoration: none;
}

.sublist.active {
    display: block; /* Show active sublist */
}
